---
layout: default
---

<div class="row text-center justify-content-center">
  <div class="col-12 col-md-6 p-3">
    <a
      class="w-100 text-dark"
      style="text-decoration: none"
      href="{{ post.url }}"
    >
      <img
        class="img-thumbnail rounded"
        src="/thumbnail/{{page.categories[0] | slugify }}/{{ page.city | slugify }}.jpeg"
      />
      <h3 class="pt-2">{{ post.city }}</h3>
    </a>
  </div>
  <div class="col-12 p-3">
    Home > {{ page.categories[0] }} > {{ page.city }}
  </div>
  <div class="col-12 col-md-10 p-3 text-start">{{content}}</div>
</div>
